<div class="ui inverted left fixed vertical menu">
  <a id="item-overview" class="item" href="/">Home</a>
  <div id="section-authorization-code" class="item">
    <div class="menu">
      {{#isLoggedIn}}
      
        <a id="profile-button" data-se="profile" class="item" href="/profile">
          My Profile
        </a>
        
        <a id="tokens-button" data-se="tokens" class="item" href="/tokens">
          My Tokens
        </a>
        
        <!--a id="mfa-button" data-se="mfa" class="item" href="/mfa">
          My MFA
        </a-->
        
        <a id="mfa2-button" data-se="mfa2" class="item" href="/mfa2">
          My MFA 2
        </a>

        <a id="stepup-iframe-button" data-se="stepup-iframe" class="item" href="/stepup-iframe">
          My Step Up IFrame MFA
        </a>

        <a id="stepup-api-button" data-se="stepup-api" class="item" href="/stepup-api">
          My Step Up API MFA
        </a>

        <!--a id="test-button" data-se="test" class="item" href="/test">
          My Test
        </a-->
        
        <form method="POST" action="/logout">
          <button id="logout-button" data-se="logout" class="item">
            Logout
          </button>
        </form>
      {{/isLoggedIn}}
      
    </div>
  </div>
</div>
