<div id="setup_test" class="modal-box">
  <header> <a href="test" class="js-modal-close close">×</a>
    <h3>Setup Test</h3>
  </header>
  
  <div class="modal-body">
    <p>Test...</p>
  </div>
</div>