<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body id="samples">

    {{>menu}}

    <div id="content" class="ui padded grid relaxed">
      <div id="doc" class="column eight wide">
        <div class="doc-overview">
          <h2 class="ui dividing header" data-se="overview-doc-header">
            My Profile
          </h2>
          <p>Hello, {{userinfo.name}}. Below is the information that was read from the <a href="https://developer.okta.com/docs/api/resources/oidc#get-user-information">User Info Endpoint</a>
            and persisted by the <a href="https://github.com/okta/okta-oidc-js/tree/master/packages/oidc-middleware">Okta OIDC Middleware Library</a> at <code>req.userinfo</code>.
          </p>
          <p>This route is protected with the <code>oidc.ensureAuthenticated()</code> middleware, which will ensure that this page cannot be accessed until you have authenticated.</p>
        </div>
        <table class="ui table compact collapsing">
          <thead>
            <tr>
              <th>Claim</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {{#attributes}}
              <tr>
                <td>{{0}}</td>
                <td id="claim-{{0}}">{{1}}</td>
              </tr>
            {{/attributes}}
          </tbody>
        </table>

        <h3>Tokens</h3>
        
        <div class="ui form">
          <div class="field">
            <label>access_token</label>
            <textarea readonly="">{{tokens.access_token}}</textarea>
          </div>
          <div class="field">
            <label>id_token</label>
            <textarea readonly="">{{tokens.id_token}}</textarea>
          </div>
          <div class="field">
            <label>refresh_token</label>
            <textarea readonly="" rows="1">{{tokens.refresh_token}}</textarea>
          </div>
          <div class="field">
            <label>device_secret</label>
            <textarea readonly="" rows="1">{{tokens.device_secret}}</textarea>
          </div>
        </div>        
      </div>


    </div>
  </body>
</html>
