<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}

    <link href="/assets/css/event_modal.css" type="text/css" rel="stylesheet" />

    <script src="/assets/js/loader.js"></script>
    <script src="/assets/js/event_modal.js"></script>
    <script src="/assets/js/factors.js"></script>
    <script src="/assets/js/test.js"></script>
    <script src="/assets/js/jwtdecoder.js"></script>
    
  </head>
  <body id="samples">

    {{>menu}}

    {{>loader}}
    
    <div id="content" class="ui padded grid relaxed">
      <div id="doc" class="column eight wide">
        <div class="doc-overview">
          <h2 class="ui dividing header" data-se="overview-doc-header">
            My Test xxx
          </h2>
          <p>Hello, {{userinfo.name}}. Testing!!!
          </p>
          <p>This route is protected with the <code>oidc.ensureAuthenticated()</code> middleware, which will ensure that this page cannot be accessed until you have authenticated.</p>
        </div>


        {{>modal-test}}
      
      
        <div class="field">
          <label>access_token header js</label>
          <textarea id="textarea_accessTokenHeader" readonly="" rows="4"></textarea>
        </div>
          


      </div>

    </div>
    
    <script type="text/javascript">
      const access_token = '{{tokens.access_token}}';
      console.log(`hello ${access_token}`);
      //mytest2(access_token);
      
      const accessToken = decodeToken(access_token);
      console.log(`jwt ${accessToken.jwt}`);
      console.log(`header ${accessToken.header}`);
      console.log(`payload ${accessToken.payload}`);
      
      $('#textarea_accessTokenHeader').text(accessToken.header);
      
    </script>
  </body>
</html>
